parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - demo/*
        - tests/Fixtures/app/var/*
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
